<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{% include 'includes/head.html.twig' %}
  <body>
{% include 'includes/sidebar.html.twig' %}
    <div class="content container">
{% block content %}
      <h1 class="page-title">{{ page.title }}</h1>
      {{ page.content }}
{% endblock %}
    </div>
  </body>
</html>
